<div class="dropdown-wrapper">
  <button 
    class="dropdown-trigger" 
    [class.active]="isOpen()"
    (click)="toggleDropdown($event)"
    title="Opciones"
  >
    <i class="material-icons">{{ triggerIcon() }}</i>
  </button>

  @if (isOpen()) {
    <div class="dropdown-menu">
      @for (option of options(); track option.value) {
        <button 
          class="dropdown-item" 
          [class.danger]="option.danger"
          (click)="selectOption(option, $event)"
        >
          @if (option.icon) {
            <i class="material-icons">{{ option.icon }}</i>
          }
          <span>{{ option.label }}</span>
        </button>
      }
    </div>
  }
</div>
